API_URL_TMDB="API URL (until ../3)"
API_KEY_TMDB="API KEY FROM TMDB"
TMDB_SESSION_ID="YOUR_TMDB_SESSION_ID_HERE"

NEXT_PUBLIC_SUPABASE_URL=<SUBSTITUTE_SUPABASE_URL>
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=<SUBSTITUTE_SUPABASE_PUBLISHABLE_KEY>



